@import '../../shared/styles/variables';
@import '../../shared/styles/mixins';

.Authentication {
  @include align-center(400px);

  padding: $indent-lg;
  border: 1px solid $color-primary;
  background-color: #fafafa;

  h4 {
    padding-top: $indent-sm;
    padding-bottom: $indent-sm;
    text-align: center;
  }
}
