//indents
$indent-base: 1rem;

$indent-sm: 0.5 * $indent-base;
$indent-md: $indent-base;
$indent-lg: 1.5 * $indent-base;
$indent-xl: 4 * $indent-base;
$indent-xxl: 6 * $indent-base;

//colors
$color-primary: #1890ff;
